*{
  margin: 0;
}

.app{
  background-color: rgb(131, 131, 245);
  height: 100vh;
}

.app__headerImage{
  width: 20%;
  height: auto;
  margin-left: 40%;
}

.app__header{
  background-color: white;
  object-fit: contain;
  border-bottom:2.5px solid rgb(131, 131, 245);
  padding: 15px;
  padding-bottom: 5px;
}