*{
  margin: 0;
}

.app{
  background-color: rgb(131, 131, 245);
}

.app__headerImage{
  width: 20%;
  height: auto;
  margin-left: 40%;
  object-fit: contain;
}

.app__header{
  background-color: white;
  object-fit: contain;
  border-bottom:2px solid rgb(131, 131, 245);
  padding: 15px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.app__signUp{

  display: flex;
  flex-direction: column;
  
}

Button{
  background-color: rgb(131, 131, 245);
}

.app__posts{
  padding: 15px;
}