
.post{
    max-width: 600px;
    margin: auto;
    background-color: white;
    border: 2px solid rgb(138, 138, 241);
    margin-bottom:30px;
    margin-top: 15px;
}

.post__image{
    
    width: 100%;
    height: auto;
    object-fit: contain;
    border-top: 1px solid rgb(138, 138, 241);
    border-bottom: 1px solid rgb(138, 138, 241);
}


.post__caption{

    font-weight: normal;
    padding: 15px;
    margin-right: 15px;
    
}

strong{
    margin-right: 10px;
}

.post__avatar{
    margin-right: 15px;
}

.post__header{
    
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 10px;
}